<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon>account_box</mat-icon></div>
    <mat-card-title>
      <mat-form-field>
        <input matInput type="text" placeholder="Nom" formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Prénom" formControlName="firstName">
      </mat-form-field>
    </mat-card-title>
    <mat-card-subtitle>{{role}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Date de naissance" formControlName="birthDate">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Adresse mail" formControlName="mail">
    </mat-form-field>
    <p>Signature :</p>
    <img src="{{profile.urlSignature}}" alt="Signature">
  </mat-card-content>
  <mat-card-actions>
    <button mat-button >Enregistrer</button>
  </mat-card-actions>
</mat-card>
</form>
